@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Comfortaa|Indie+Flower&display=swap');

header, footer {
    background-color: #D6C688;
    color: #fef9ff;
    /* height: 100px; */
    text-align: center;
    padding: 30px 10px 30px 10px;
}
body {
        background-color: #FBEBCB;
        font-family: 'Comfortaa', cursive;
        color: #0d1f2d;
        max-width: 900px;
        margin: 0 auto;
    }
    nav a {
        
        /* color: #fef9ff; */
        padding: 8px;
        text-decoration: none;
        text-align: center;
        display: block;
        margin: 20px;
        width: 100px;
        float: left;
    }
    nav a:hover {
        background-color: #fef9ff;
        /* color: #5b7d87;  */
    }
    nav a:active {
        font-weight: bold;
    }
    nav a:visited {
        color: #7E3D1E;
    }
    td p {
        color:#7E3D1E ;
        text-align: center;
    }
    h1{
        text-align: center;
        color:#4E2C27;
    }
    nav .btn {
        background-color: #D6C688;
        color: #fef9ff; 
        }
@media only screen and (max-width: 600px) {
        body {
            background-color: lightblue;
        }

    }








        